
<link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">

<img class="viewimg" src="<%= @movie['poster'] %>" alt="<%= @movie['name'] %>">
<div class="infowindow">
    <h2>More Info About: <%= @movie['name'].capitalize %></h2>

    <p><em>Runtime: </em> <%=@movie['runtime'] %></p>
    <p><em>IMDb-Score: </em> <%= @movie['imdb'] %></p>
    
        <a href="/movies/<%= @movie['id']%>/edit">
            <h3 id="whitetext">Edit Movie</h3>
        </a>
        <a href="../movies">
            <h3 id="whitetext">Back</h3>
        </a>
</div>

<% if @current_user %>
<form action="/user_movies" method="POST">
  <input type="hidden" name="movie_id" value="<%= @movie['id'] %>">
  <input type="hidden" name="status" value="to-watch">
  
  <button type="submit">Add to Watchlist</button>
</form>

<form action="/user_movies" method="POST">
  <input type="hidden" name="movie_id" value="<%= @movie['id'] %>">
  <input type="hidden" name="status" value="watched">

  <label>Rating:</label>
  <input type="number" name="rating" min="1" max="10" required>

  <button type="submit">Rate</button>
</form>


<p>Status: <%= @user_movie['status'] %></p>
<p>Rating: <%= @user_movie['rating'] %></p>

<% end %>